body {
  background-color: black;
  text-align: center;
  font-family: helvetica;
  font-size: 0;
}

h1 {
  color: white;
  font-size: 100px;
  margin: 10px 0;
}

.tile {
  border-bottom: 20px solid white;
  border-right: 20px solid white;
  height: 200px;
  width: 200px;
  padding: 0;
  display: inline-block;

  color: white;
  font-size: 150px;
  font-weight: bold;
  line-height: 200px;
  vertical-align: middle;
}

.r3 {
  border-bottom: 0;
}

.c3 {
  border-right: 0;
}
